[Unit]
Description=Setup NVIDIA overclocks, OpenRGB lighting, and fix my DNS resolver tug-of-war between resolved and Mullvad thanks to my barebones network stack.

[Service]
WorkingDirectory=/tmp
ExecStart=/bin/bash -c '\
/usr/bin/env python -c "from pynvml import *; nvmlInit(); myGPU = nvmlDeviceGetHandleByIndex(0); nvmlDeviceSetGpcClkVfOffset(myGPU, 210); nvmlDeviceSetMemClkVfOffset(myGPU, 3000)" && \
/usr/bin/openrgb --mode static --color 1f13d4 --brightness 100 && \
while ! resolvectl status wg0-mullvad | grep -q "DNS Domain:"; do sleep 0.5; done && \
/usr/bin/resolvectl domain wg0-mullvad "" \
'

[Install]
WantedBy=multi-user.target